absl-py
anyio 
appnope 
argon2-cffi 
astunparse
async-generator
attrs 
Babel 
backcall 
backports.functools-lru-cache 
bleach 
brotlipy
cachetools
certifi
cffi 
chardet 
cryptography 
cycler
decorator 
defusedxml 
deprecation 
entrypoints 
flatbuffers
gast
gmpy2
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna 
importlib-metadata 
ipykernel 
ipython 
ipython-genutils
ipywidgets
jedi 
Jinja2 
json5 
jsonschema 
jupyter
jupyter-client 
jupyter-console
jupyter-core 
jupyter-packaging 
jupyter-server 
jupyterlab 
jupyterlab-pygments 
jupyterlab-server 
jupyterlab-widgets
keras-nightly
Keras-Preprocessing
kiwisolver
Markdown
MarkupSafe 
matplotlib
matplotlib-inline 
mistune 
mkl-fft
mkl-random
mkl-service
mpmath
nbclassic 
nbclient 
nbconvert 
nbformat 
nest-asyncio 
notebook 
numpy
oauthlib
opt-einsum
packaging 
pandocfilters
parso 
pexpect 
pickleshare 
Pillow
prometheus-client 
prompt-toolkit 
protobuf
ptyprocess 
pyasn1
pyasn1-modules
pycparser 
Pygments 
pyOpenSSL 
pyparsing
pyrsistent 
PySocks 
python-dateutil
pytz 
pyzmq
qtconsole
QtPy
requests 
requests-oauthlib
rsa
scipy
Send2Trash
six 
sniffio 
sympy 
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
termcolor
terminado 
testpath
tomlkit 
tornado 
traitlets 
typing-extensions
urllib3 
wcwidth 
webencodings
Werkzeug
widgetsnbextension
wrapt
zipp 
